@using TicTacToe.Entities
@model IEnumerable<TicTacToe.Entities.Game>;



<div>
    <button onclick="goToPlayerProfile()">-go to ur profile-</button>
    <h1>create new game</h1>
    <input placeholder="board size" id="boardSizeInput">
    <button onclick="createGame()">-create-</button><br>

</div>
<h1>new games to join</h1>
        <button onclick="findGames()">-Refresh list-</button>

<ul>
    @foreach (Game game in Model)
    {
        <li>
            <div class="gameList">
                @game.Name
                ID: @game.Id
                Size: @game.Board.Size
                <button onclick="joinGame(@game.Id)">-join-</button>
            </div>
        </li>
    }
</ul>