@model TicTacToe.Entities.Game;

<div id="gameDetails">
    @Model.Name | id<span id="currentGameId">@Model.Id</span> | size<span></span>@Model.Board.Size
    <br><br><br>

    <h1 id="gameStatus">waiting for second player</h1>
</div>
@for (int i = 0; i < Model.Board.Size; i++)
{
    <div class="row">
        @for (int j = 0; j < Model.Board.Size; j++)
        {
            <div class="field" id="@i-@j" onclick="makeTurn(this, @i, @j, @Model.Id)"></div>
        }
    </div>
}
<br>
<button onclick="leaveGame()">-leave game-</button>