<div class="loggedPlayer">
    <h1>
        -<span id="name">log in to ur account</span>-
    </h1>
    <div class="player">
        <input placeholder="set ur nick" id="nickInput">
        <button onclick="login()">logim</button>
    </div>
</div>
