@model TicTacToe.Entities.Game;

<div class="gameList">
    @Model.Name <br>
    ID:
    <span id="currentGameId">@Model.Id</span>
    <br>
</div>
@* <button>-reconnect- (unavailable yet)</button> *@
<button onclick="reconnect(@Model.Id)">-reconnect</button>
<button onclick="leaveGame()">-leave-</button>