<link href="@Url.Content("../Views/Game/_Board.cshtml")"/>

<div class="text-center" id="gameArea">
    @{
        Html.RenderPartial("_Login");
    }
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>

<script src="js/TurnResult.js"></script>
<script src="js/game.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
